{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="my-self">
        <h3>About Me</h3>
        <p style="text-align:center;">I am always eager to learn new things and am a quick learner,<br>have gained skills in programming to enable me create web applications,<br> am open to new opportunities and collaborations.</p>
        <p><img src="/static/images/nancyprofile.jpg" alt="" width="300px" height="300px" class="img-responsive rounded-circle"></p>
    </div>          
</div>
<hr>
<style>
    .container{
        font-size:30px;
        text-align: center;
        font-family: 'Viaoda Libre', cursive;
        padding-top:20px;
    }
</style>
   
{% endblock %}