{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center" style="font-family: 'Viaoda Libre', cursive; font-size:25px;">
    <div class="container">
      <h1 class="display-4">Get in touch</h1>
      <p>You have a project or you want to collaborate?</p>
      <p style=" font: size 25px;">Send an Email to:  <a href="mailto:nancykemuntosalome@gmail.com">  <i class="fa fa-envelope"></i>  nancykemuntosalome@gmail.com</a></p>
      <p style=" font: size 25px;">Call me at:   <a href="tel:+254797077078"> <i class="fa fa-phone-square"></i> +254797077078 </a>   and let's talk</p>
    </div>
  </div>
  <hr>
  <p style="font-family: 'Viaoda Libre', cursive; font-size:25px;text-align:center;">Connect with me at the following platforms:</p>
  <div class="social" style='text-align: center; font-size:40px;'>
    <ul>
      <a href="https://twitter.com/@Nancy_phoepe" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/nancy-kemunto-5a98181b3" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/nancy88199488" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:nancykemuntosalome@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
      <a href="tel:+254797077078" target="_blank"><i class="fab fa-whatsapp"></i></a>
  </ul>
  </div>
  <hr>
{% endblock %}